// Global variables
$image-directory: 'img/';
$social-icon-background: #999;
$sans-serif: 'Verdana', 'Helvetica', 'Arial', sans-serif;
$serif: 'Georgia', 'Times New Roman', 'Times', serif;

// Colors
$black: #000;
$white: #fff;
$light-pink: #fde0e2;
$dark-pink: #ed2e6d;
$light-grey: #f1f1f1;

$maxPixelRatio: 3;
$mobileWidth: 500px;

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$green: #5cb85c;
$nav-link: #666;
$nav-hover: #333;