/*
Syntax error: Undefined mixin 'round'.
        on line 14 of c:/Users/Ben/work/Websites/Carers Website/html/sites/all/themes/cr/css/sass/includes/blog.scss, in `round'
        from line 14 of c:/Users/Ben/work/Websites/Carers Website/html/sites/all/themes/cr/css/sass/includes/blog.scss

9: 				.details {font-style: italic;color: #888;font-size: 78.57%;margin-bottom: 5px}
10: 				.summary {margin-bottom: 0;
11: 					a {}}}}
12: 		.views-row-last {margin-bottom: 0}}}
13: #block-sharethis-sharethis-block {
14: 	.stLarge {@include round(5px);background-color: $social-icon-background;width: 48px;height: 48px;background-repeat: no-repeat;
15: 		&, &:hover {background-position: 50% 50%}}
16: 	.st_twitter_large .stLarge {background-image: url('img/twitter.png') !important;@include highdpiimportant('twitter.png', 41px 34px)}
17: 	.st_facebook_large .stLarge {background-image: url('img/facebook.png') !important;@include highdpiimportant('facebook.png', 22px 40px)}
18: 	.st_googleplus_large .stLarge {background-image: url('img/google.png') !important;@include highdpiimportant('google.png', 40px 38px)}}
19: 

Backtrace:
c:/Users/Ben/work/Websites/Carers Website/html/sites/all/themes/cr/css/sass/includes/blog.scss:14:in `round'
c:/Users/Ben/work/Websites/Carers Website/html/sites/all/themes/cr/css/sass/includes/blog.scss:14
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:320:in `block in visit_mixin'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:98:in `block in with_mixin'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:98:in `with_mixin'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:318:in `visit_mixin'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `map'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `map'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `map'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:151:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/root_node.rb:36:in `css_tree'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:371:in `_render_with_sourcemap'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:291:in `render_with_sourcemap'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `each'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/sass_compiler.rb:40:in `compile!'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/commands/update_project.rb:49:in `perform'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.1/bin/compass:44:in `call'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
c:/Ruby193/bin/compass:23:in `load'
c:/Ruby193/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'round'.\A         on line 14 of c:/Users/Ben/work/Websites/Carers Website/html/sites/all/themes/cr/css/sass/includes/blog.scss, in `round'\A         from line 14 of c:/Users/Ben/work/Websites/Carers Website/html/sites/all/themes/cr/css/sass/includes/blog.scss\A \A 9: 				.details {font-style: italic;color: #888;font-size: 78.57%;margin-bottom: 5px}\A 10: 				.summary {margin-bottom: 0;\A 11: 					a {}}}}\A 12: 		.views-row-last {margin-bottom: 0}}}\A 13: #block-sharethis-sharethis-block {\A 14: 	.stLarge {@include round(5px);background-color: $social-icon-background;width: 48px;height: 48px;background-repeat: no-repeat;\A 15: 		&, &:hover {background-position: 50% 50%}}\A 16: 	.st_twitter_large .stLarge {background-image: url('img/twitter.png') !important;@include highdpiimportant('twitter.png', 41px 34px)}\A 17: 	.st_facebook_large .stLarge {background-image: url('img/facebook.png') !important;@include highdpiimportant('facebook.png', 22px 40px)}\A 18: 	.st_googleplus_large .stLarge {background-image: url('img/google.png') !important;@include highdpiimportant('google.png', 40px 38px)}}\A 19: "; }
